<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Área GEAC</title>

<!-- Main css -->
<link href="https://fonts.googleapis.com/css?family=Fjalla One|Lora|Merriweather:300,400" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/img/favicon.png">
<style>
/*--------------------------------------------
Ordem dos elementos para margem, padding, etc:
 top right bottom left
 (sentido anti-horário)
 -------------------------------------------*/
body {
		background: #ffffff;
    font-family: 'Lora', serif;
    font-style: normal;
		font-weight: 300;
    overflow-x: hidden;
    text-align: center;
    margin: 0 0 0 0;
    margin-top: 0;
}

/*---------------------------------------
    Barra de Navegação
-----------------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-family: 'Fjalla One';
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #222;
}

.active {
  background-color: #04AA6D;
}

/*---------------------------------------
    Tipografia
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 5px 0 0 0;
  color: #333;
}
</style>

</head>
<body>
  <!-- Barra da SES -->
  <h5>
    Secretaria de Estado da Saúde do Amazonas (SES-AM)<br>
    Secretaria Executiva Adjunta de Politicas de Saúde (SEAPS)<br>
    Departamento de Controle e Avaliação Assistencial (DECAV)<br>
    Gerência de Análise de Contas (GEAC)
  </h5>

  <!-- Barra de navegação  -->
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/contato">Contato</a></li>
    <li><a href="/sobrenos">Sobre Nós</a></li>
    <li style="float:right"><a class="active" href="/login">Área Restrita</a></li>
  </ul>

  <!-- Tabela e Blog(Informes)-->
  <style>
    /* CSS do Conteúdo da página -*/
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float: left;
      padding: 5px;
    }
    
    .left {
      width: 50%;
    }
    
    .right {
      /* mudar para 100% quando eliminar a div da tabela*/
      width: 50%; 
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /*-- Formatação da Tabela --*/
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    
    <div class="row">
      <!-- Remover esta div para retirar a tabela e deixar apenas a lista-->
      <div class="column left" style="background-color:#ffffff;">
        <h3>Situação da Produção</h3>
        <table> <!-- Início da Tabela -->
          <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
          </tr>
          <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Yoshi Tannamuri</td>
            <td>Canada</td>
          </tr>
          <tr>
            <td>Magazzini Alimentari Riuniti</td>
            <td>Giovanni Rovelli</td>
            <td>Italy</td>
          </tr>
        </table> <!-- Início da Tabela -->
      </div>
      <div class="column right" style="background-color:#DCDCDC;">
        <h3>Informes</h3>
        <div style="background-color: #ffffff;">
          <h2>Column 1</h2>
          <p>Some text..</p>
        </div>
        <div style="background-color: #ffffff;">
          <h2>Column 2</h2>
          <p>Some text..</p>
        </div>
      </div>
    </div>

  <!-- Rodapé -->
  <!-- Voltar para o topo -->

  <!-- SCRIPTS -->

</body></html>
